#create-todo {
    z-index: 2; // Higher z-index than sidenav
    // Background
    background-color: hsla(0, 0%, 50%, 0.5);
    // Position
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // Grid
    display: grid;
    place-items: center;

    #create-todo-form-container {
        // min-width: 60vw;
        // min-height: 60vh;
        padding: 2rem;
        // Grid
        display: grid;
        grid-template-rows: auto 1fr;
        // Background
        background-color: var(--base-white);
        // Animation
        animation-name: expand;
        animation-duration: 500ms;
        animation-timing-function: ease;
        animation-fill-mode: both;

        @keyframes expand {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }

        #create-todo-form-header {
            // Grid
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;

            h2 {
                text-align: center;
            }
            #create-todo-close {
                --bar-thickness: 10%;
                --bar-width: 60%;

                border: 2px solid var(--base-black);
                border-radius: 50%;
                cursor: pointer;
                width: 1.7em;
                height: 1.7em;
                // Position
                position: relative;
                
                &:hover, &:focus {
                    background-color: var(--base-black);
                    
                    &::before, &::after {
                        background-color: var(--base-white);
                    }
                }
    
                &::before, &::after {
                    content: "";
                    position: absolute;
                    top: calc(50% - 0.5 * var(--bar-thickness));
                    left: calc(50% - 0.5 * var(--bar-width));
                    height: var(--bar-thickness);
                    width: var(--bar-width);
                    background-color: var(--base-black);
                    // Transform
                    transform-origin: center;
                }
    
                &::before {
                    // Transform
                    transform: rotate(45deg);
                }
    
                &::after {
                    // Transform
                    transform: rotate(-45deg);
                }
            }
        }

        #create-todo-form {
            // Grid
            display: grid;

            label, span {
                display: block;
            }

            input, select, textarea {
                width: 100%;
            }

            select {
                text-transform: capitalize;
            }

            // input:disabled {
            //     display: none;
            // }

            #create-todo-project-add-new {
                // position: relative;

                // input {
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     bottom: 0;
                //     transition: top 300ms ease;
                // }

                &.hide {
                    display: none;

                    // input {
                    //     top: 100%;
                    // }
                }
            }

            #create-todo-btns {
                // Grid
                display: grid;
                grid-auto-flow: column;

                button {
                    cursor: pointer;
                }
            }
        }
    }
}