@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    // Variables
    --base-white: hsl(0, 0%, 95%);
    --base-black: hsl(0, 0%, 5%);
}

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    outline: 2px solid black;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

#content {
    min-height: 100vh;
    // Grid
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";

    header {
        outline: 2px solid red;
        padding: 1.6rem;
        // Grid
        grid-area: header;
        
        #topnav {
            // Flex
            display: flex;
            justify-content: space-between;
            align-items: center;

            #topnav-logo {

            }

            #quick-add-todo {

            }
        }
    }

    #sidenav {
        outline: 2px solid green;
        // Grid
        grid-area: sidenav;
        // Position
        position: fixed;
        top: 0;
        left: -50%;
        bottom: 0;
        width: 50%;
    }

    main {
        outline: 2px solid blue;
        // Grid
        grid-area: main;
    }

    footer {
        outline: 2px solid orange;
        padding: 1.6rem;
        font-size: 1.2rem;
        text-align: center;
        // Grid
        grid-area: footer;
        display: grid;
        place-items: center;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #content {
        grid-template-areas: 
            "header header"
            "sidenav main"
            "footer footer";

        #sidenav {
            // Position
            position: static;
            width: auto;
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}