:root {
    --header-line-height: 1.2em;
    --checkbox-size: 1.6rem;
    --chevron-bar-width: 50%;
    --circle-button-width: 90%;
}

.todo-item-container {
    overflow: hidden;
}

.todo-item {
    border: 2px solid red;
    line-height: var(--header-line-height);
    // Position
    position: relative;
    top: 0;
    left: 0;
    // Animation
    animation-name: slide-up;
    animation-duration: 400ms;
    animation-timing-function: ease-out;
    animation-fill-mode: both;

    @keyframes slide-up {
        0% {
            top: 100%;
            opacity: 0;
        }
        100% {
            top: 0;
            opacity: 1;
        }
    }

    .todo-item-header {
        // Grid
        display: grid;
        grid-template-columns: calc(2 * var(--header-line-height)) 1fr calc(2 * var(--header-line-height));
        grid-template-rows: repeat(2, var(--header-line-height));
        grid-template-areas: 
            "checkbox title expand-btn"
            "checkbox datetime expand-btn";
        column-gap: 1rem;
        align-items: center;

        .todo-checkbox-container {
            outline: 2px solid blue;
            // Grid
            grid-area: checkbox;
            display: grid;
            place-items: center;
            height: 100%;
    
            .todo-checkbox {
                content: "";
                width: var(--checkbox-size);
                height: var(--checkbox-size);
                border: 2px solid black;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    
        .todo-title {
            // Grid
            grid-area: title;
        }
        .todo-description {
            // Grid
            grid-area: description;
        }
        .todo-datetime {
            // Grid
            grid-area: datetime;
        }
        .todo-btn-expand {
            cursor: pointer;
            width: var(--circle-button-width);
            height: var(--circle-button-width);
            //border: 2px solid var(--base-black);
            border-radius: 50%;
            // Grid
            grid-area: expand-btn;
            // Position
            position: relative;

            &::before {
                content: '';
                // Position
                position: absolute;
                width: var(--chevron-bar-width);
                height: var(--chevron-bar-width);
                top: calc(0.5 * (100% - var(--chevron-bar-width)));
                left: calc(0.5 * (100% - var(--chevron-bar-width)));
                // Border
                border-width: 0 4px 4px 0;
                border-color: var(--base-black);
                border-style: solid;
                // Transform
                transform: translateY(calc(0.25 * var(--chevron-bar-width))) rotate(-135deg);
                // Transition
                transition: transform 300ms ease;
            }

            &:hover, &:active {
                background-color: var(--base-black);

                &::before {
                    border-color: var(--base-white);
                }
            }

            i {
                // TEMP to hide FontAwesome icon
                display: none;
            }

            &.close {
                &::before {
                    transform: translateY(calc(-0.25 * var(--chevron-bar-width))) rotate(45deg);
                }
            }
        }
    }

    .todo-item-details-container {
        overflow: hidden;
        padding: 1rem;
        // Transform
        transform-origin: top;
        // Animation
        animation-name: slide-down;
        animation-duration: 300ms;
        animation-timing-function: ease;
        animation-fill-mode: both;

        .todo-item-details {
            position: relative;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // Grid
            display: grid;
            row-gap: 1rem;

            .todo-details-item {
                text-transform: capitalize;
                // Grid
                display: grid;
                grid-auto-flow: column;
            }

            .todo-btn-container {
                // Flex
                display: flex;
                justify-content: space-between;

                button {
                    cursor: pointer;
                }
            }
        }

        @keyframes slide-down {
            0% {
                transform: scaleY(0);
            }
            100% {
                transform: scaleY(1);
            }
        }
    }

    i[class^='fa'] {
        margin-right: 0.2em;
    }
}